name: CI de Ruyman
on:
  push:
    branches: [ "main" ]

jobs:
  mi-primer-trabajo:
    runs-on: ubuntu-latest

    steps:
      - name: Descargar codigo
        uses: actions/checkout@v4
      
      - name: Verificar archivo
        run: grep "production" config/kubernetes.conf
        
      - name: Desplegar a Producción
        run: echo "Simulando despliegue a producción..."
